<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP App | Profile </title>
</head>
<body bgcolor="#EDF0D8">
<table align="center" width="80%">
    <tr align="center" height="100">
        <td>
            <h1>NLP Application</h1>
        </td>
    </tr>
    <tr align="center" height="50">
        <td>
        </td>
    </tr>
    <tr><td  align="center">
        <table width="50%">
            <tr>
                <td>
                    <h2>What would you like to do</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="margin: 20px 0;">
                        <li style="margin: 20px 0;"><a href="/abuse">Abuse Detection</a></li>
                        <li style="margin: 20px 0;"><a href="/emotion">Emotion Detection</a></li>
                        <li style="margin: 20px 0;"><a href="/sentiment">Sentiment Analysis</a></li>
                        <li style="margin: 20px 0;"><a href="/ner">Named Entity Recognition (NER)</a></li>
                    </ul>
                </td>
            </tr>
            <tr><td height="100"></td></tr>
            <tr><td>
                <form action="logout" method="post">
                    <input type="submit" value="Log Out" style="width:150px; height:30px;background: #97A1A9;">
                </form>
            </td></tr>
        </table>
        </td>
    </tr>
</table>
</body>
</html>